body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    background: white;
    padding: 20px;
    width: 420px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.quick-access {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.quick-access button {
    padding: 12px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.quick-access button:hover {
    background: #1976D2;
}

.bottom-nav {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.bottom-nav span {
    cursor: pointer;
    color: #2196F3;
}

.bottom-nav span:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

.logout-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    width: 100px;
    padding: 8px 12px;

    background: #757575;
    color: white;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.logout-btn:hover {
    background: #616161;
}
